<h1>Pets#index</h1>

<ul>
<% @pets.each do |pet| %>
<%= link_to pet_path(pet) do %>
<i class="fa-solid fa-cat"></i>
<% end %>
<%= link_to "Delete",
            pet_path(pet),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
<% end %>

</ul>
